@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}
header h1 {
  margin-top: 0px;
  margin-bottom: 0px;
}
.cronometro {
  text-align: center;
}
#dale {
  border-style: solid;
  border-color: #000;
  border-width: 7px;
  display: block;
  padding: 0px;
  margin: 20px auto;
  width: 285px;
  height: 285px;
  border-radius: 50%;
  cursor: pointer;
}
.semi {
  font-size: 66px;
  margin-top: 95px;
  margin-bottom: 0px;
  -webkit-margin-before: 1.32em;
}
.mili {
  font-size: 31px;
  margin-top: 0px;
}
.cronometro button {
  background-color: #fff;
  border-color: #000;
  border-style: solid;
  font-size: 18px;
  line-height: 50px;
  margin: 0px;
  padding: 0px;
  width: 49%;
}
.marco {
  margin: auto;
  max-width: 480px;
  text-align: center;
}
.marco i {
  display: block;
  margin: 10px;
}
