html,body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  width: 100%;
}
body{
  font-family: 'Droid Sans', 'Helvetica', Arial, sans-serif;
}

#latlng {
  display: block;
  margin: 0;
  padding: 0;
  position: absolute; /* posición absoluta a navegador */
  top: 0; /* ajusta a borde de navegador */
  left: 0;
  right: 0;
  height: 50px;
}

#map {
  display: block;
  margin: 0;
  padding: 0;
  position: absolute; /* posición absoluta a navegador */
  background-color: rgba(0,0,0,0); /* verde si no hay mapa */
  width: 100%;
  height: 100%;
  overflow: auto;
}

.menu {display: inline-block; list-style-type: none; margin: 0; padding: 0}
.menu li {display: inline-block; margin-left: 10px;}
.rojo {color: #d34836;}
.mapa {
  position: relative;
  height: 100%;
  overflow: auto;
}
.inicio {
  background: #fff;
  position: absolute;
  width: 100%;
}
.cabecera {
  padding: 0px 10px;
  margin: 0px auto;
  max-width: 800px;
}
.cabecera h1 {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: right;
  font-weight: lighter;
}
.contenedor {
  margin: 20px auto;
  overflow: auto;
  padding: 10px;
  position: relative;
  max-width: 800px;
}
.fin {
  background: #fff;
  position: absolute;
  width: 100%;
}
.pie {
  padding: 0px 10px;
  margin: 0px auto;
  max-width: 800px;
  text-align: center;
}
